* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    bottom: 0;
    padding-bottom: 2vh;
    width: 100%;          /* Footer height */
    background: white;
    text-align: center;
}

html,
body {
  height: 100%;
}


footer h3,
p,
.icon {
  text-align: center;
  padding-bottom: 0.5vh;
}

footer h3 {
  font-family: sans-serif;
  font-weight: bold;
  cursor: default;
}

footer p {
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}

footer p:hover {
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: rgb(46, 46, 46);
}

footer .color-bar {
  width: 40%;
  position: relative;
  left: 10vw;
  right: 10vw;
  padding: 0.9vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .color-bar > div {
  width: 100%;
  height: 0.3rem;
}

footer .color-bar .purple {
  background-color: var(--purple);
}

footer .color-bar .turquoise {
  background-color: var(--turquoise);
}

footer .color-bar .yellow {
  background-color: var(--yellow);
}

footer .color-bar .pink {
  background-color: var(--pink);
}

footer .color-bar .red {
  background-color: var(--red);
}

footer i {
  font-size: 3rem;
  cursor: pointer;
}

footer i:hover {
  font-size: 3rem;
  cursor: pointer;
}

footer .fa-instagram {
  color: #c13584;
}

footer .fa-instagram:hover {
  color: #922965;
}

footer .fa-facebook-square {
  color: #3b5998;
}

footer .fa-facebook-square:hover {
  color: #283e6e;
}

footer .fa-twitter-square {
  color: #1da1f2;
}

footer .fa-twitter-square:hover {
  color: #167bb9;
}
