
 
  
  .word {
    
    text-align: center;
    position: absolute;
    font-size: 28px;
    width: 290px;
    opacity: 0;
    top: 39.8%;
    
    justify-self: center;

  }
  
  .letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .wisteria {
    color: #4100a7;
  }
  
  .belize {
    color: #00c9b8;
  }
  
  .pomegranate {
    color: #fcd200;
  }
  
  .green {
    color:  #fe5e54;
  }
  
  .midnight {
    color: purple;
  }
  
/* 
  <span class="word wisteria">special</span>
  <span class="word belize">unique</span>
  <span class="word pomegranate">original</span>
  <span class="word green">lovely</span>
  <span class="word midnight">extraordinary</span> */