#content{
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

#search-container{
    position: relative;
}

.search-bar{
    margin-top: 10%;
}
.search-tags{
text-align: center;
}
.search-label{
    position: absolute;
    width: 100%;
    padding: 15px;
    background-color: white;
    border: 2px solid var(--purple);
    font-weight: 700;
    color: var(--purple);
}

.hidden{
    display: none;
}

#search-container button:nth-child(odd) {
    --button-bg: var(--purple);
}
#search-container button:nth-child(even) {
    --button-bg: var(--turquoise);
}
#search-container button:nth-child(3n) {
    --button-bg: var(--red);
}
#search-container button:nth-child(4n) {
    --button-bg: var(--yellow);
}
#search-container button:nth-child(5n) {
    --button-bg: var(--turquoise);
    }
#search-container button:nth-child(6n) {
    --button-bg: var(--red);
}
#search-container button:nth-child(7n) {
    --button-bg: var(--turquoise);
}
#search-container button:nth-child(8n) {
    --button-bg: var(--purple);
}