/* Globals */
@import url("/css/globals.css");

/* Customs */
@import url("/css/buttons.css");
@import url("/css/footer.css");
@import url("/css/header.css");
@import url("/css/about.css");
@import url("/css/products.css");
<<<<<<< HEAD
@import url("/css/products1.css");
@import url("/css/login.css");
=======
@import url("/css/wishlist.css");
>>>>>>> 66d0de9ec81214ed9d34a020f73811f2b1cb36d8

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
