@import "components/settings";
@import "components/header";
@import "components/footer";

body {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

img {
  display: block;
  margin: 50px auto;
}
